p {
  color: #2E4052;
  font-size: small;
  margin: 0.5em;
}

label {
  padding: 0.5em;
  background-color: #412234;
  border: solid 3px white;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border-color: #412234;
  background-color: white;
  color: #412234;
}

input[type="text"] {
  padding: 0.5em;
  border: solid 2px #412234;
  border-radius: 8px;
  font-size: large;
}

h3 {
  color: #2E4052;
  margin: 0.3em;
}

h4 {
  color: #2E4052;
  margin: 0.3em;
}

h5 {
  color: #2E4052;
  margin: 0.3em;

}

h6 {
  color: #2E4052;
  margin: 0.3em;
}

hr {
  width: 90%;
  border: none;
  border-top: solid 1px #412234;
}

ul {
  margin: 0.3em;
  padding-left: 1.5em;
  font-size: small;
}

table {
  color: #2E4052;
  font-size: small;
  border-collapse: collapse;
  border: solid 2px #2E4052;
  text-align: left;
  width: 100%;
}

tr {
  border: solid 1px #2E4052;
}

td {
  padding: 0 1em;
}

th {
  padding: 0 1em;
  border-left: solid 1px #2E4052;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  border-radius: 12px;
  height: fit-content;
  margin-bottom: 20px;
}

.checkbox-container-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 2em;
  width: 80%;
  margin: 1em;
}

.checkbox-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 0.5em;
  width: 80%;
  text-align: center;
}

.larger-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

.mini-h-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.mini-h-list hr {
  width: 50%;
}

.e-choices {
  margin-top: 0.5em;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.e-choices div:first-of-type {
  border-right: solid 1px #2E4052;
}

.e-choices div:last-of-type {
  border-left: solid 1px #2E4052;
}

.aligns-with {
  margin-left: 1em;
  text-decoration: underline;
}

.cost-weight {
  padding: 0 1em;
}

.cycle-buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 92px;
}

.cycle {
  background-color: #412234;
  color: white;
  border: solid 2px white;
  border-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
  margin: 0 1em;
}

.cycle:disabled {
  opacity: 20%;
  cursor: initial;
}

.ec-input-div {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.ec-h4 {
  color: #412234;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.speed-table {
  text-align: center;
}
.speed-table th {
  border-right: solid 2px #2E4052;
}



 