p {
  color: #2E4052;
  font-size: small;
  margin: 0.5em;
}

label {
  padding: 0.5em;
  background-color: #412234;
  border: solid 3px white;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border-color: #412234;
  background-color: white;
  color: #412234;
}

h3 {
  color: #2E4052;
  margin: 0.3em;
}

h4 {
  color: #2E4052;
  margin: 0.3em;
}

h5 {
  color: #2E4052;
  margin: 0.3em;

}

h6 {
  color: #2E4052;
  margin: 0.3em;
}

hr {
  width: 90%;
  border: none;
  border-top: solid 1px #412234;
}

ul {
  margin: 0.3em;
  padding-left: 1.5em;
  font-size: small;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  border-radius: 12px;
  height: fit-content;
}

.checkbox-container-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 2em;
  width: 80%;
  margin: 1em;
}

.checkbox-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 0.5em;
  width: 80%;
  text-align: center;
}

.larger-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

.mini-h-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.mini-h-list hr {
  width: 50%;
}

.e-choices {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.aligns-with {
  margin-left: 1em;
  text-decoration: underline;
}




 