p {
  color: #2E4052;
  font-size: small;
  margin: 0.5em;
}

label > div {
  padding: 0.5em;
  background-color: #412234;
  border: solid 3px white;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.stacked-checkbox {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label > div {
  border-color: #412234;
  background-color: white;
  color: #412234;
}

input[type="text"], [type="password"] {
  padding: 0.5em;
  border: solid 2px #412234;
  border-radius: 8px;
  font-size: large;
}

h3 {
  color: #2E4052;
  margin: 0.3em;
}

h4 {
  color: #2E4052;
  margin: 0.3em;
}

h5 {
  color: #2E4052;
  margin: 0.3em;

}

h6 {
  color: #2E4052;
  margin: 0.3em;
}

hr {
  width: 90%;
  border: none;
  border-top: solid 1px #412234;
}

ul {
  margin: 0.3em;
  padding-left: 1.5em;
  font-size: small;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  border-radius: 12px;
  height: fit-content;
  margin-bottom: 20px;
  padding-bottom: 1em;
}

.checkbox-container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 2em;
  width: 80%;
}

.checkbox-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 0.5em;
  width: 80%;
  text-align: center;
}

.checkbox-container-3 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-around;
  gap: 0.3em 1em;
  width: 80%;
}

.mini-h-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.mini-h-list hr {
  width: 50%;
}

.e-choices {
  margin-top: 0.5em;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.aligns-with {
  margin-left: 1em;
  text-decoration: underline;
}

.cost-weight {
  padding: 0 1em;
}

.cycle-buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 92px;
}

.cycle {
  background-color: #412234;
  color: white;
  border: solid 2px white;
  border-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
  margin: 0 1em;
}

.cycle:disabled {
  opacity: 20%;
  cursor: initial;
}

.search-result-div {
  text-align: center;
  padding-top: 1em;
}

.ec-input-div {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.ec-h4 {
  color: #412234;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.actions-div {
  width: 100%;
  text-align: center;
}
.actions-div hr {
  width: 50%;
}

.tiny {
  width: 20%;
}

table {
  color: #2E4052;
  font-size: small;
}

.stats-table {
  border-collapse: collapse;
  border: solid 1px #2E4052;
  max-width: 100%;
}

.stats-table tr {
  border: solid 1px #2E4052;
}

.stats-table td {
  padding: 0 1em;
  border-left: solid 1px #2E4052;
  text-align: center;
}

.stats-table th {
  padding: 0 1em;
  border-left: solid 1px #2E4052;
  text-align: left;
}

.spell-table {
  width: 90%;
  text-align: left;
}



@media only screen and (min-width: 400px) {
  .checkbox-container-3 {
      grid-template-columns: repeat(3, 1fr);
  }
 
}

 